{% extends "base.html" %}
{% block header %}
<header class="intro-header" style="background-image: url('/static/img/mil-bg6.jpg'); height: 300px"></header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-content">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h3>{{article.title}}</h3>
                <hr>
                <h4>{{article.pub_time }}</h4>
                <p>{{ article.body | linebreaksbr }}</p>
                <a class="blue" href="{{article.link}}">"{{article.rss}}"</a>
            </div>
        </div>
    </div>
{% endblock %}


