/*html{ height: 100%; }*/
/*body{display: flex; flex-direction: column; height:100%; }*/

/*header, footer {*/
    /*flex: 0 0 auto;*/
/*}*/

/*footer {*/
    /*height: 80px;*/
    /*background: navy;*/
    /*color: white;*/
/*}*/

/*.main-content {*/
    /*flex: 1 0 auto;*/
/*}*/


/*.content li {*/
    /*font-size: 18px;*/
/*}*/

/*.plaintext p {*/
    /*font-size: 16px;*/
    /*max-width: 600px;*/
/*}*/

img.flag {
    width: 35px;
    height: 20px;
    float: right;
}

/*p {*/
    /*font-size: 16px;*/
    /*max-width: 700px;*/
/*}*/

.country-btn {
    margin-top: 5px;
    width: 220px;
    text-align: left;

}

.loading {
    vertical-align: middle;
    text-align: center;
}