{% extends "base.html" %}
{% load staticfiles %}
{#{% load listutil %}#}

{% block content %}

    <style>
        .country {
            margin-top: 5px;
            width: 220px;
            text-align: left;
        }
    </style>

    <div class="container main-content">
        <h4>Привет, {{ user.username }}! Данный сервис работает аналогично программе "Паук" и в будущем заменит ее.
            Документы формируются
            в формате "docx", поддерживаемый версией Microsoft Word 2007 и более поздними.</h4>

        <div class="row">
            {% for country in countries %}
                <div class="col-sm-4">
                    <a id="{{ country.slug }}"
                       href="{% url "bd:generate_docx" %}?name={{ country.name }}&slug={{ country.slug }}"
                       class="btn btn-success country">
                        <span class="glyphicon glyphicon-download"
                              aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ country.name }}
                        <img class="flag" src="{% static "" %}img/{{ country.slug }}.png"/>
                    </a>
                </div>
                {#            <br>#}
            {% endfor %}
        </div>
    </div>
{% endblock %}

