{% extends "base.html" %}
{% load search_tags %}

{% block header %}
    <header class="intro-header" style="background-image: url('/static/img/mil-bg2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Военные новости</h1>

                        <h2 class="subheading">Сайт осуществляет сбор и фильтрацию новостей из военной области и сферы
                            безопасности для облегчения работы военных аналитиков</h2>
                        <!--                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
